# Ignore the actual files in the data folder, those are not free to distribute.
/Assets.dat
/images/*
/work/*
/work/mappings/*
/work/objects/*
/work/spawnlists/*
/work/tokens/*

# But keep the folder structure, so people can grasp what's supposed to be there:

!/images/
!/work/
!/work/mappings/
!/work/objects/
!/work/spawnlists/
!/work/tokens/
!/work/unity/FP1LevelSpawn.cs
!/work/unity/SpriteConverterCustom.cs